@if (MapData != null && POIs != null)
{
    <div class="panzoom-parent">
        <MudOverlay @bind-Visible="isVisible" OnClick="clear" DarkBackground="true" AutoClose="true" ZIndex="11">
            @if (selectedPOI != null)
            {
                <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="clear"/>
                <MudPaper> 
                    <MudImage Fluid="true" Src="@selectedPOI.ImageURL" Class="rounded-lg"/>
                    <MudMarkdown Value="@selectedPOI.Description"/>
                </MudPaper>
            }
        </MudOverlay>>

        <Panzoom @ref="panzoom">
            <MudStack Class="absolute z-10 ma-2">
                <MudIconButton Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Icon="@Icons.Material.Filled.ZoomIn" OnClick="OnZoomInClick" />
                <MudIconButton Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Icon="@Icons.Material.Filled.ZoomOut" OnClick="OnZoomOutClick" />
                <MudIconButton Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Icon="@Icons.Material.Filled.LocationSearching" OnClick="OnResetClick" />
            </MudStack>
            <div @ref="@context.ElementReference" class="panzoom">
                <MudImage Src=@MapData.Image.Url/>
                <div class="button-container">
                    @foreach (var item in POIs)
                    {
                       <POI Data="item" OnClick="select"></POI>
                    }
                </div>
            </div>
        </Panzoom>
    </div>
}

@code {
    private bool isVisible = false;
    private POIModel? selectedPOI;

    [Parameter]
    public MapModel? MapData { get; set; }

    [Parameter]
    public List<POIModel>? POIs { get; set; }

    private Panzoom? panzoom;

    private string styleString(POIModel poi)
    {
        return $"top: {poi.Y}px; left: {poi.X}px;";
    }

    private async Task OnZoomInClick(MouseEventArgs args)
    {
        await AdjustScale(true);
    }

    private async Task OnZoomOutClick(MouseEventArgs args)
    {
        await AdjustScale(false);
    }

    private async Task OnResetClick(MouseEventArgs args)
    {
        if(panzoom == null)
        {
            throw new Exception("panzoom is null");
        }

        await panzoom.ResetAsync();
    }

    private async Task AdjustScale(bool zoomIn)
    {
        if (panzoom == null)
        {
            throw new Exception("panzoom is null");
        }
        var oldScale = await panzoom.GetScaleAsync();

        if (zoomIn)
        {
            await panzoom.ZoomInAsync();
        }
        else
        {
            await panzoom.ZoomOutAsync();
        }
        var newScale = await panzoom.GetScaleAsync();
    }

    private void select(POIModel data)
    {
        selectedPOI = data;
        isVisible = true;
        StateHasChanged();
    }

    private void clear()
    {
        selectedPOI = null;
        isVisible = false;
        StateHasChanged();
    }
}